scenarioo-server/src/main/java/org/scenarioo/design/api/resources/scenarioo-design-api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns="http://www.scenarioo.org/scenarioo" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="branch" type="branch" xmlns=""/>

  <xs:element name="details" type="details" xmlns=""/>

  <xs:element name="labels" type="labels" xmlns=""/>

  <xs:element name="objectDescription" type="objectDescription" xmlns=""/>

  <xs:element name="objectList" type="objectList" xmlns=""/>

  <xs:element name="objectReference" type="objectReference" xmlns=""/>

  <xs:element name="objectTreeNode" type="objectTreeNode" xmlns=""/>

  <xs:element name="page" type="page" xmlns=""/>

  <xs:element name="issue" type="issue" xmlns=""/>

  <xs:element name="proposal" type="proposal" xmlns=""/>

  <xs:element name="sketchStep" type="sketchStep" xmlns=""/>

  <xs:element name="sketch" type="sketch" xmlns=""/> <!-- to be seen if eventually needed -->

  <xs:element name="sketchStepDescription" type="sketchStepDescription" xmlns=""/>

  <xs:element name="sketchStepMetadata" type="sketchStepMetadata" xmlns=""/>

  <xs:complexType name="branch">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="issue">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="trackingUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="issueStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="contextInDocu" type="xs:string" minOccurs="0"/>
      <xs:element name="dateCreated" type="xs:string" minOccurs="0"/>
      <xs:element name="dateModified" type="xs:string" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="labels" minOccurs="0" xmlns=""/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="proposal">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="proposalStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="contextInDocu" type="xs:string" minOccurs="0"/>
      <xs:element name="dateCreated" type="xs:string" minOccurs="0"/>
      <xs:element name="dateModified" type="xs:string" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="labels" minOccurs="0" xmlns=""/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sketchStep">
    <xs:sequence>
      <xs:element ref="page" minOccurs="0" xmlns=""/>
      <xs:element ref="sketchStepDescription" minOccurs="0" xmlns=""/>
      <xs:element ref="sketch" minOccurs="0" xmlns=""/>							  <!-- tbd // maybe just the filename of the svg file? -->
      <xs:element name="nextSketchStepRef" minOccurs="0" xmlns=""/>				  <!-- filename of xml or index? -->
      <xs:element name="html" type="sketchStepHtml" minOccurs="0" xmlns=""/>
      <xs:element name="metadata" type="sketchStepMetadata" minOccurs="0" xmlns=""/>
      <xs:element name="contextInDocu" type="xs:string" minOccurs="0"/>
      <xs:element name="dateCreated" type="xs:string" minOccurs="0"/>
      <xs:element name="dateModified" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sketchStepDescription">
    <xs:sequence>
      <xs:element name="index" type="xs:int"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="originalScreenshotFileName" type="xs:string" minOccurs="0"/> 
      <xs:element name="renderedSketchFileName" type="xs:string" minOccurs="0"/> 
      <xs:element ref="labels" minOccurs="0" xmlns=""/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sketchStepHtml">
    <xs:sequence>
      <xs:element name="htmlSource" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sketchStepMetadata">
    <xs:sequence>
      <xs:element name="visibleText" type="xs:string" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sketch">
    <xs:sequence>
      <xs:element name="components" type="xs:string" minOccurs="0"/> <!-- tbd -->
      <xs:element name="dateCreated" type="xs:string" minOccurs="0"/>
      <xs:element name="dateModified" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labels">
    <xs:sequence>
      <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="page">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="labels" minOccurs="0" xmlns=""/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="details">
    <xs:sequence>
      <xs:element name="properties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="objectDescription">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="objectList">
    <xs:sequence>
      <xs:element name="items" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="objectReference">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="objectTreeNode">
    <xs:sequence>
      <xs:element name="item" type="xs:anyType" minOccurs="0"/>
      <xs:element name="details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="children" type="objectTreeNode" nillable="true" minOccurs="0" maxOccurs="unbounded" xmlns=""/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="issueStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPEN"/>
      <xs:enumeration value="RESOLVED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="proposalStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DRAFT"/>
      <xs:enumeration value="PROPOSED"/>
      <xs:enumeration value="FINAL"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

